body{
    background-color: rgb(13, 25, 19);
}

h1 {
    font-size: 70px;
    margin-left: 30px;
    font-family: sans-serif;
    color: rgb(220, 220, 220);
    
}

.about{
    font-size: 25px;
}

.img{
    margin-left: 30px;
    height: 250px;
    width: 250px;
    background-image: url('about.jpg');
    background-size: 250px;
    
}

.whole{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: sans-serif;
    color: rgb(220, 220, 220);
    
}