* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(229, 229, 229); */
}

.parent{
    display: flex;
    align-items: center;

}

.image{
    height: 1670px;
    width: 1600px;

    background-image: url(weebsite.png);
    background-size: cover;
    background-position: center;
}

.form{
    text-align: center;
    margin-left: 370px;
}

.form h1{
    text-align: center;
    font-size: 100px;

}

input{
    height: 60px;
    width: 700px;
    border-radius: 10px;
}

button{
    height: 70px;
    width: 700px;
    font-size: 35px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}

button:hover{
    background-color: dodgerblue;
}

button:active{
    background-color:rgb(66, 66, 185);
}

input, label{
    display: block;
    text-align: left;
    font-size:35px;
}

.form p, #sign-in{
    font-size: 35px;
    display: inline;
}



#sign-in{
    color: cornflowerblue;
}

#sign-in:hover{
    color: dodgerblue;
}

#sign-in:active{
    color:rgb(66, 66, 185)
}

