body{background-color: blanchedalmond;}

.main-pic {
    border: 1px dotted white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('me.png');
    background-size: cover;
    background-position: center;
    margin: auto;
}

.card{
    border: 1px solid white;
    width: 700px;
    height: 200px;
    background-color: burlywood;
}

.pic{
    border: 1px dotted white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('break.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-left: 40px;
}

.txt p{
    margin-left: 200px;
    margin-top: -0px;
}

.txt h1{
    margin-left: 200px;
    margin-top: -130px;
}

.whole{

}